.new-tweet {

  display: flex;
  flex-direction: column;

}
.alert1 {
  color: red;
  font-family: math;
  background-color: rgb(209, 186, 186);
  font-weight: bold;
  font-size: 1.2em;
  display:none
}
.alert2 {
  color: red;
  font-family: math;
  background-color: rgb(209, 186, 186);
  font-weight: bold;
  font-size: 1.2em;
  display:none
}

.new-tweet-header {
  display: flex;
  border-bottom: solid thin #4056A1;
  flex-direction: column;
  margin-top: 1em;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

textarea {
  border-color: transparent;
  margin-top: 0.5em;
  font-size: 0.8em;
}

button {
  background-color:#4056A1 ;
  border-radius: 8%;
  color: #FFFFFF;
  padding: 0.6%;
}

button:hover {
  box-shadow: 20px 15px 20px rgba(11, 87, 122, 0.4);
}

#tweets-container{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 0.25em;  
}

#tweets-container:hover{
  font-size: 1.1em;
}

.header {
  display: flex;
  flex-direction:column;
  border-top: 0.2em solid #504f4e;
  border-right: 0.2em solid #504f4e;
  border-left: 0.2em solid #504f4e;
  color: #545149;
  padding-bottom: 1%;
  font-size: 0.6em;
}

 div.header1 {
   display: flex;
   justify-content: space-between;
   color: #868684;
   font-weight: lighter;
 }

.header img {
  display: flex;
  width:6vmin;
  height:6vmin;
  align-self: flex-start;
  background-color: transparent;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  padding-left: 0.5em;

}

div.name {
  display: flex;
  flex-grow: 60%;
  flex-grow: 6;
  padding-top: 1.5em;
}

.handle {
  display: flex;
  align-self: flex-start;
  margin-right: 1em;
  padding-top: 1.5em;
  color: #7b89b9;
}

.tweet-input-text {
  margin-top: 1em;
  background-color: #f4f1ec;
}

div.tweet {
  padding-left: 1em;
  font-size: 1.5em;
}

#footer.footer {
  display: flex;
  border: 0.2em solid #504f4e;
  justify-content: space-between;
  padding-top: 0.5em;
  color: #868684;
  font-size: 0.5em;
  padding-left: 1em;
}

#footer.footer:hover {
  box-shadow: 0.1px 10px rgb(148, 195, 231);
}

.footer-icons{
  display: flex;
  justify-content: space-between;
  color: #4056a2;
}

.fas {
  padding: 0.5em;
}

.fas:hover{
  color: red;
  padding-top: 1.1em;
}

